body {
  background: url(http://res.cloudinary.com/simpleview/image/upload/v1497480003/clients/lasvegas/strip_b86ddbea-3add-4995-b449-ac85d700b027.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.game-window {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
  border-style: solid;
  border-width: thick;
  border-radius: 5px;

  /* background-color: white; */
  background-image: url(../images/punch-out-main-background.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;

  position: absolute;
  left: 23%;
}

.game-bar {
  position: relative;
  height: 60px;
  padding-top: 60px;

  background-color: black;
}

.hp-bar {
  width: 30%;
  height: 50%;
  position: relative;
  display: inline-block;
}

.p-health {
  width: 100%;
  height: 100%;
  background-color: green;
}

.c-health {
  width: 100%;
  height: 100%;
  background-color: green;
}

#player-hp {
  border-style: solid;
  border-color: silver;
  margin-left: 4%;
}

#cpu-hp {
  border-style: solid;
  border-color: silver;
}

#cpu {
  width: 100px;
  height: 150px;
  /* background-color: black; */

  position: absolute;
  left: 50%;
  top: 35%;
}

#player {
  width: 75px;
  height: 125px;
  /* background-color: green; */

  position: absolute;
  left: 50%;
  top: 50%;
}

.player-img {
  width: 100%;
  height: 100%;
}

.cpu-img {
  width: 100%;
  height: 100%;
}
